# 출처 : 러닝스푼즈

###  비고 : 개인적으로 학습한 내용 따로 기재

<img src="https://pandas.pydata.org/docs/_static/pandas.svg" width="300">

## Pandas
* https://pandas.pydata.org/
* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
* [10 minutes to pandas — pandasdocumentation](https://pandas.pydata.org/docs/user_guide/10min.html)
* [Pandas 10분 완성](https://dataitgirls2.github.io/10minutes2pandas/)

# 파이썬의 데이터 과학 도구들은 대부분 `numpy`를 기반으로 만들어짐
# 파이썬은 느리다가는 인식이 있음. But, 인터페이스는 괜찮은편임.
# numpy = c언어 기반이기 때문에 빠르다. 

# 파이썬 = `접착제 언어`라는 별명이 있음 
# 껍데기 =  파이썬, 실제 = c언어 
 
# 딥러닝, 머신러닝 내부에도  numpy가 포함되어 있다. (포함안된곳이 없다.)

In [1]:
## 파이썬 내의 대부분 데이터 과학 도구들(텐서플로우, 싸이키런, 파이토치, 매트랩)은 numpy 기반으로 되어 있다.
## 파이썬의 생태계를 넓히는데 numpy의 역할이 크다.
## numpy = `공학용 계산기`

# 필요한 라이브러리를 로드합니다.
# pandas, numpy를 불러옵니다.

import pandas as pd
import numpy as np

## DataFrame

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg">

In [2]:
# 비어있는 데이터프레임을 생성합니다.

df = pd.DataFrame()
df
type(df)

pandas.core.frame.DataFrame

## 컬럼 추가하기

In [3]:
# 약품명 시리즈 타입으로 약품명을 만듭니다.
# 다음의 리스트를 만들고 약품명이라는 컬럼에 담습니다.

df['약품명'] = ["소화제", "감기약", "비타민", "digestive", "Omega3", "오메가3", "vitamin", "Vitamin"]

df

         약품명
0        소화제
1        감기약
2        비타민
3  digestive
4     Omega3
5       오메가3
6    vitamin
7    Vitamin

In [6]:
# 가격 컬럼을 만듭니다. 
# df["가격"] 이라는 컬럼에 3500 이라는 값을 넣습니다.
# 그리고 컬럼이 제대로 추가 되었는지 데이터 프레임 전체를 출력해 봅니다.
# 데이터프레임, 행렬, 2차원

df['가격'] = 3500

df

         약품명    가격
0        소화제  3500
1        감기약  3500
2        비타민  3500
3  digestive  3500
4     Omega3  3500
5       오메가3  3500
6    vitamin  3500
7    Vitamin  3500

In [9]:
# 가격 컬럼만 가져와서 봅니다.
# 컬럼 하나만 가져오면 데이터프레임 전체를 출력했을 때와 다른 모습을 보입니다.
# 이렇게 데이터를 가져오면 Series 라는 데이터 형태로 출력이 됩니다.
# Seies, 벡터, 1차원

df['가격']

0    3500
1    3500
2    3500
3    3500
4    3500
5    3500
6    3500
7    3500
Name: 가격, dtype: int64

In [10]:
# type 을 사용해서 데이터의 타입을 출력할 수 있습니다.

type(df['가격'])

pandas.core.series.Series

In [11]:
# type 을 사용해서 데이터의 타입을 출력할 수 있습니다.

type(df)

pandas.core.frame.DataFrame

In [12]:
# 가져온 "가격" 컬럼을 리스트 형태로 변경합니다.

type(df[['가격']])

pandas.core.frame.DataFrame

In [13]:
# 시리즈 형태 -> 리스트 형태로 수정
df['가격'].tolist()

[3500, 3500, 3500, 3500, 3500, 3500, 3500, 3500]

## 컬럼값 변경하기

In [14]:
# 가격을 다음의 리스트 값으로 변경합니다.
df['가격'] = [3500, 3200, 4000, 3200, 3700, np.nan, 2000, 1000]
df

         약품명      가격
0        소화제  3500.0
1        감기약  3200.0
2        비타민  4000.0
3  digestive  3200.0
4     Omega3  3700.0
5       오메가3     NaN
6    vitamin  2000.0
7    Vitamin  1000.0

In [15]:
# nan == not a number 의 약자로 결측치를 의미합니다.
# nan의 데이터 타입은 float 입니다.
type(np.nan)

float

In [16]:
df.dtypes

약품명     object
가격     float64
dtype: object

In [19]:
# "지역" 컬럼을 하나 더 추가해 봅니다.
df['지역'] = '서울'
df

         약품명      가격  지역
0        소화제  3500.0  서울
1        감기약  3200.0  서울
2        비타민  4000.0  서울
3  digestive  3200.0  서울
4     Omega3  3700.0  서울
5       오메가3     NaN  서울
6    vitamin  2000.0  서울
7    Vitamin  1000.0  서울

In [24]:
# "종류"라는 컬럼을 만들어일반의약품이라는 내용을 추가해 봅니다.
df['종류4'] = '일반의약품'
df

         약품명      가격  지역    종류2     종류    종류3    종류4
0        소화제  3500.0  서울  일반의약품  일반의약품  일반의약품  일반의약품
1        감기약  3200.0  서울  일반의약품  일반의약품  일반의약품  일반의약품
2        비타민  4000.0  서울  일반의약품  일반의약품  일반의약품  일반의약품
3  digestive  3200.0  서울  일반의약품  일반의약품  일반의약품  일반의약품
4     Omega3  3700.0  서울  일반의약품  일반의약품  일반의약품  일반의약품
5       오메가3     NaN  서울  일반의약품  일반의약품  일반의약품  일반의약품
6    vitamin  2000.0  서울  일반의약품  일반의약품  일반의약품  일반의약품
7    Vitamin  1000.0  서울  일반의약품  일반의약품  일반의약품  일반의약품

In [25]:
# 실수로 컬럼을 잘못 추가했거나 삭제하고자 할 때
# axis 0:행, 1:컬럼을 의미합니다.

# 여러개를 삭제하려면 []로 담아서 삭제해야한다.
## df.drop(["종류2", "종류3"], axis=1)

# inplace를 쓰는 것(메모리에 저장하는 방법)을 권장하지 않고 앞에 변수에 다시 넣는 것을 권장한다.
##df = df.drop(["종류2", "종류3", "종류4"], axis=1)

df = df.drop(['종류2', '종류3', '종류4'], axis=1)
df

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

# | 데이터 요약하기

In [26]:
# 내부의 약속
## () 있는 것 : 함수(method)가 있는 것을 의미하고 
## () 없는 것 : attribute    

## 참조 : https://pandas.pydata.org/docs/reference/frame.html 
    
# 데이터 프레임의 '정보'를 봅니다.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   약품명     8 non-null      object
 1   가격      7 non-null      float64
 2   지역      8 non-null      object
 3   종류      8 non-null      object
dtypes: float64(1), object(3)
memory usage: 384.0+ bytes

In [27]:
# 데이터 프레임의 크기를 출력합니다.
# (행, 열)

df.shape

(8, 4)

In [28]:
# 데이터의 타입만 봅니다.

df.dtypes

약품명     object
가격     float64
지역      object
종류      object
dtype: object

In [31]:
# 데이터프레임의 요약정보를 가져옵니다.
# 수치형 데이터의 기술통계 값을 봅니다.
# 괄호 안에 shift + Tab를 입력하면 정보가 다 나온다.

# 범주형 = 카테고리형 (나눌 수 있는 개념) 

df.describe()

                가격
count     7.000000
mean   2942.857143
std    1064.357620
min    1000.000000
25%    2600.000000
50%    3200.000000
75%    3600.000000
max    4000.000000

In [32]:
# 범주형 데이터의 기술통계 값을 봅니다.

## 다른 방법
### df.describe(include='float')
### df.describe(include='float64')
### df.describe(exclude='float64')

## 03.P26 (Attribute & Methods)
## 출처 : https://pandas.pydata.org/docs/reference/frame.html (자주봐서 Attribute & Methods 눈에 익히기)

df.describe(include='object')

            약품명  지역     종류
count         8   8      8
unique        8   1      1
top     Vitamin  서울  일반의약품
freq          1   8      8

## 컬럼명으로 데이터 가져오기

In [33]:
df

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

In [34]:
df['약품명']

0          소화제
1          감기약
2          비타민
3    digestive
4       Omega3
5         오메가3
6      vitamin
7      Vitamin
Name: 약품명, dtype: object

In [35]:
df['가격']

0    3500.0
1    3200.0
2    4000.0
3    3200.0
4    3700.0
5       NaN
6    2000.0
7    1000.0
Name: 가격, dtype: float64

## 2개 이상의 컬럼명 가져오기
* 파이썬에서 2개 이상의 데이터를 다룰 때는 보통 리스트 자료형을 사용합니다.
* 리스트는 대괄호[ ]로 묶여져 있는 데이터를 의미합니다.

In [ ]:
# 자료를 묶어서 가져와야 한다. (시리즈 + [] = 리스트)

In [36]:
df[['약품명', '가격']]

         약품명      가격
0        소화제  3500.0
1        감기약  3200.0
2        비타민  4000.0
3  digestive  3200.0
4     Omega3  3700.0
5       오메가3     NaN
6    vitamin  2000.0
7    Vitamin  1000.0

## 행을 기준으로 데이터 가져오기

In [38]:
# 인덱스 번호로 첫번째 데이터 가져오기

df.loc[0]

약품명       소화제
가격     3500.0
지역         서울
종류      일반의약품
Name: 0, dtype: object

In [40]:
# 여러개를 가져오기 때문에 위와 똑같은 개념으로 [] 묶어야 한다.
# 위에서 3개의 행 데이터 가져오기

df.loc[[0,1,2]]

   약품명      가격  지역     종류
0  소화제  3500.0  서울  일반의약품
1  감기약  3200.0  서울  일반의약품
2  비타민  4000.0  서울  일반의약품

## 행과 열을 함께 가져오기

In [41]:
# loc[행, 열]
# index / columns

df.loc[0, "약품명"]

'소화제'

In [43]:
# loc[행, 열]
df.loc[[0,1], "약품명"]

0    소화제
1    감기약
Name: 약품명, dtype: object

In [44]:
df.loc[[0,1], ["약품명", "가격"]]

   약품명      가격
0  소화제  3500.0
1  감기약  3200.0

In [62]:
df.loc[[0,1], ["약품명", "가격"]]

   약품명      가격
0  소화제  3500.0
1  감기약  3200.0

## 특정약품만 가져오기 (# 불리언 인덱싱(boolean indexing))

In [45]:
# 파이썬의 정규표현식에서는 |는 or를 &는 and를 의미합니다.
# 여러 검색어로 검색을 한다 가정하고 | 로 검색어를 넣어준다고 생각하면 됩니다.
# str.contains 를 사용해서 약품명을 가져올 수 있습니다.
# 불리언 인덱싱(boolean indexing) -> 아래 방식

df['약품명'].str.contains("vita")

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
Name: 약품명, dtype: bool

In [47]:
df[df['약품명'].str.contains('vita')]

       약품명      가격  지역     종류
6  vitamin  2000.0  서울  일반의약품

In [52]:
# 하지만 파이썬은 대소문자를 구분합니다.
df['약품명'].str.upper()

0          소화제
1          감기약
2          비타민
3    DIGESTIVE
4       OMEGA3
5         오메가3
6      VITAMIN
7      VITAMIN
Name: 약품명, dtype: object

In [67]:
# 약품명을 모두 소문자로 만듭니다.

df["약품명"].str.lower()

0          소화제
1          감기약
2          비타민
3    digestive
4       omega3
5         오메가3
6      vitamin
7      vitamin
Name: 약품명, dtype: object

### 파생변수 만들기
<img src="https://pandas.pydata.org/docs/_images/05_newcolumn_2.svg">

In [54]:
# 대소문자로 인해 검색이 되지 않는 문제를 해결하기 위해 모두 소문자로 만듭니다.
# 파이썬의 str 메소드를 사용해서 소문자로 변경이 가능합니다.

df['약품명_소문자'] = df['약품명'].str.lower()
df['약품명_소문자']

0          소화제
1          감기약
2          비타민
3    digestive
4       omega3
5         오메가3
6      vitamin
7      vitamin
Name: 약품명_소문자, dtype: object

# 예제문제 풀어보기 : https://pandas.pydata.org/docs/user_guide/text.html

In [56]:
# 약품명_소문자 컬럼에서 "vita|비타" 값이 들어가는 문자를 찾습니다.

df['약품명_소문자'].str.contains('vita|비타')

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
Name: 약품명_소문자, dtype: bool

In [71]:
df[df["약품명_소문자"].str.contains("vita|비타")]

       약품명      가격  지역     종류  약품명_소문자
2      비타민  4000.0  서울  일반의약품      비타민
6  vitamin  2000.0  서울  일반의약품  vitamin
7  Vitamin  1000.0  서울  일반의약품  vitamin

In [58]:
# 파이썬의 정규표현식에서는 
# |(엔터키 위에 있는 키를 shift키를 누르시면 나옵니다.)는 or를 &는 and를 의미합니다.

df[df["약품명_소문자"].str.contains("vita&비타")]

Empty DataFrame
Columns: [약품명, 가격, 지역, 종류, 약품명_소문자]
Index: []

## 가격이 특정 금액 이상인 것만 가져옵니다.

<img src="https://pandas.pydata.org/docs/_images/03_subset_columns_rows.svg">

In [59]:
# 특정 금액 이상의 가격에 해당되는 데이터프레임을 가져옵니다.

df['가격'] > 3500

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7    False
Name: 가격, dtype: bool

In [60]:
# 불리언 인덱싱으로 특정조건만 데이터프레임 형식으로 뽑아내기
df[df['가격'] > 3500]

      약품명      가격  지역     종류 약품명_소문자
2     비타민  4000.0  서울  일반의약품     비타민
4  Omega3  3700.0  서울  일반의약품  omega3

In [61]:
# 특정 금액 이상의 가격에 해당되는 데이터프레임을 가져옵니다.
# 암묵적인 약속을 맞추면 '키' 값을 안써도 써도 되는데, 약속을 맞추지 않으면 꼭 써야한다.
 
df.sort_values(by=['약품명', '가격'], ascending = [True, False])

         약품명      가격  지역     종류    약품명_소문자
4     Omega3  3700.0  서울  일반의약품     omega3
7    Vitamin  1000.0  서울  일반의약품    vitamin
3  digestive  3200.0  서울  일반의약품  digestive
6    vitamin  2000.0  서울  일반의약품    vitamin
1        감기약  3200.0  서울  일반의약품        감기약
2        비타민  4000.0  서울  일반의약품        비타민
0        소화제  3500.0  서울  일반의약품        소화제
5       오메가3     NaN  서울  일반의약품       오메가3

         약품명      가격  지역     종류    약품명_소문자
0        소화제  3500.0  서울  일반의약품        소화제
1        감기약  3200.0  서울  일반의약품        감기약
2        비타민  4000.0  서울  일반의약품        비타민
3  digestive  3200.0  서울  일반의약품  digestive
4     Omega3  3700.0  서울  일반의약품     omega3
5       오메가3     NaN  서울  일반의약품       오메가3
6    vitamin  2000.0  서울  일반의약품    vitamin
7    Vitamin  1000.0  서울  일반의약품    vitamin

## 정렬하기

In [62]:
# sort_values 를 통해 정렬합니다.

## 파일로 저장하기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [91]:
# to_csv 를 통해 csv 파일로 저장합니다. 
# (index=False, 이전 인덱스 삭제하기)

df.to_csv('판다스연습.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/pandas.csv'

In [88]:
# 저장된 csv 파일을 읽어옵니다.
# Unnamed: 0 -> 기존인덱스

pd.read_csv("판다스 연습.csv", index=False)

         약품명      가격  지역     종류    약품명_소문자
0        소화제  3500.0  서울  일반의약품        소화제
1        감기약  3200.0  서울  일반의약품        감기약
2        비타민  4000.0  서울  일반의약품        비타민
3  digestive  3200.0  서울  일반의약품  digestive
4     Omega3  3700.0  서울  일반의약품     omega3
5       오메가3     NaN  서울  일반의약품       오메가3
6    vitamin  2000.0  서울  일반의약품    vitamin
7    Vitamin  1000.0  서울  일반의약품    vitamin